@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
*{
  font-family: "Almarai", sans-serif;
}
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #e0f7fa, #ffffff);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  direction: rtl;
  text-align: right;
}

h1 {
  color: #d70004;
  margin-bottom: 10px;
  font-size: 2.2em;
}

p {
  color: #555;
  margin-bottom: 30px;
  max-width: 500px;
  line-height: 1.6;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

.links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #d70004;
  padding: 14px 20px;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.links a i {
  margin-left: 10px;
  font-size: 1.2em;
}

.links a:hover {
  background-color: #341919;
  transform: translateY(-3px);
}

footer {
  margin-top: 50px;
  font-size: 13px;
  color: #999;
  text-align: center;
}

@media (max-width: 500px) {
  p, .links {
    max-width: 90%;
  }

  h1 {
    font-size: 1.8em;
  }
}